@import "tailwindcss";

:root {
  --color-darkgray: #615F5C;
  --color-mustard: #FCB02D;
  --color-darkred: #a00000;
  --color-mediumbrown: #835214; /*fundo de telas menores*/
  --color-darkblack: #140D0B; /*fundo de telas*/
  --color-text: #FFFFFF;
}

@theme {
  --font-uncial: "Uncial Antiqua", serif;
  --font-cinzel: "Cinzel", serif;
}

body {
  background: var(--color-darkblack);
  color: var(--color-tex);
  font-family: var(--font-cinzel, "Cinzel", serif);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-uncial, "Uncial Antiqua", serif);
}