@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
  --color-darkgray: #615F5C;
  --color-mustard: #FCB02D;
  --color-darkred: #7D0000;
  --color-mediumbrown: #835214;
  --color-darkblack: #140D0B;
  --color-text: #FFFFFF;
}

@theme {
  --font-uncial: "Uncial Antiqua", serif;
  --font-cinzel: "Cinzel", serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cinzel, "Cinzel", serif);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-uncial, "Uncial Antiqua", serif);
}